html, body{
    font-size: 100%;
	font-family:'PT Sans', sans-serif;
	background:#ffffff;
	margin:0px!important;
}
p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Josefin Sans', sans-serif;
   margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,.agileits-banner-grid{
	text-decoration:none;
	    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
}
/*--header-w3-agileits --*/
.padding-inner-page {
    min-height: 585px;
}

.header-w3-agileits {
    background: rgba(0, 0, 0, 0.47);
	padding:0;
	position: fixed;
    width: 100%;
    z-index: 999;
}
.inner-header-agile {
    padding: 0 5em;
	position: relative;
}
.inner-header-agile.part2 {
    position: relative;
    padding-bottom:1em;
}
/*-- logo --*/
.navbar-header h1 {
    font-size: 2em;
    display: block;
    text-transform: uppercase;
}
.navbar-header h1 a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}
span.letter {
    background: #fff;
    color: #2954a2;
	line-height: 1.1em;
    padding: 0 11px;
    display: inline-block;
    background: #ffffff;
	font-weight:700;
	margin-right:3px;
}
h1 span {
    color: #fff;
    font-size: 1.5em;
}

ul.nav.navbar-nav {
   float:right;
}
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background: #2954a2;
}
.navbar-nav > li {
  margin: 0 0.3em;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 10%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 0.9em;
    padding: 1em 0.9em 1.2em;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #fe423f;
	background:none!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: #02a388!important;
}
.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
   color: #fff;
   background: #2954a2!important;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
ul.nav.navbar-nav li.active {
    border-right: none;
}
ul.dropdown-menu.multi-column ul li{
    display:block;
	margin-bottom:.5em;
}
ul.dropdown-menu.multi-column ul li a{
	color:#212121;
}
ul.dropdown-menu.multi-column {
    width: 400px;
    left: 0;
    padding: 1em;
}
ul.dropdown-menu.multi-column ul li a:hover{
	color: #fe423f;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
}
.dropdown-menu {
	border-radius:0;
}

.baner-info{
	padding-top: 8em;
    margin: 0 auto;
    text-align: center;
}
.baner-info h3 {
    text-align: center;
    font-size: 3.5em;
    color: #fff;
    text-transform:capitalize;
    letter-spacing: 4px;
}
.baner-info h3 span {
	color:#EA548E;
}
.baner-info h4{
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin: 2em 0 1em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}
.baner-info p {
    margin: 1em 0 2em;
    color: #fff;
}
.baner-info span img {
    margin: 1em auto 0;
    text-align: center;
}
a.w3_play_icon1 {
	border: none;
    outline: none;
    background: #EA548E;
    padding: 0.7em 1em 0.7em 1em;
    color: #fff;
	text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
a.w3_play_icon1:hover {
	text-decoration:none;
	background: #fff;
    color: #000;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.banner-bottom-girds {
    width: 54%;
    z-index: 1;
    position: absolute;
    left: 24%;
    top: -19%;
    border: 1px solid rgba(226, 226, 226, 0.56);
    border-width: 0px 1px 1px;
}
.agileits-banner-grid {
    float: left;
    background: #fff;
    width: 50%;
    padding: 2em;
    border-top: 10px solid #2954a2;
}
span.banner-icon {
    color: #b8bfcb;
    font-size: 2.5em;
}
.agileits-banner-grid h4 {
    font-size: 1.5em;
    margin: 1em 0 0;
    color: #000;
	font-weight:600;
}
.agileits-banner-grid p {
    margin: 1em auto 2em;
    width: 80%;
}
.agileits-banner-grid:hover,.bg-w3ls-active {
    border-color: #EA548E;
    background: #2954a2;
}
.agileits-banner-grid:hover span.banner-icon,.bg-w3ls-active span.banner-icon{
	color:#fff;
}
.agileits-banner-grid:hover.agileits-banner-grid h4,.bg-w3ls-active.agileits-banner-grid h4 {
    color: #EA548E;
}
.agileits-banner-grid:hover.agileits-banner-grid p,.bg-w3ls-active.agileits-banner-grid p{
	color:#fff;
}
/*-- //banner-bottom --*/
.w3ls-section{
	padding:4em 0;
}
h3.w3ls-title {
    margin-bottom: 1em;
	position:relative;

}
h3.w3ls-title,h2.w3ls-title {
    text-transform: capitalize;
    color: #2954a2;
	font-size:2.5em;
	font-weight:600;
}
h3.w3ls-title:after {
    background: #e2dfdf;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    top: 53px;
    width: 250px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*-- about --*/
div#about {
    padding-top: 17em;
    position: relative;
}
#about h5 {
    margin: 1em 0 1.2em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    color: #b5b5b5;
}
p.about-bottom {
    margin-top: 0.6em;
}
.w3ls-about-left {
    padding: 0 5em 0 0;
}
.w3ls-row {
    padding: 0;
    margin: 0;
    border: none;
	position: relative;
}
.wthree-about-right {
    position: absolute;
    right: 0;
    width: 50%;
    top: -107px;
    left: 38%;
}
img.img-responsive {
   -webkit-transition: .5s all;
	-moz-transition: .5s all;
    transition: .5s all;
}
a.more {
    font-size: 1em;
    color: #fff;
    background:#00bcd4;
    padding: .6em 1.8em;
    display: inline-block;
    margin-top: 1.5em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom:4px solid transparent;
}
a.more:hover {
    background:#00BCD4;
    border-bottom-color:#04a6bb;
}
a.close {
    opacity: .4;
    margin: -1.5em -.5em 0 0;
    outline: none;
}
.w3ls-row.alert:hover img.img-responsive {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
.w3_testimonials_grids{
	margin:1em 0 0;
}
.w3_agileits_testimonials_grid{
	text-align:center;
}
.w3_agileits_testimonials_grid img{
	margin:0 auto;
}
.w3_agileits_testimonials_grid h4 {
    margin: 1.5em 0 1em;
    color: #EA548E;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
.w3_agileits_testimonials_grid span{
	color:#f5232e;
}
.w3_agileits_testimonials_grid p{
	color: #fff;
    line-height: 2em;
    width: 80%;
    margin: 0 auto;
}
.owl-carousel .owl-item img{
    visibility: inherit;
}
.owl-carousel .owl-item.active img {
    visibility: visible;
	border-radius:10px;
}
.owl-carousel .owl-item{
    opacity: 0.4;
	padding:1em;
	background:rgb(41, 84, 162);
}
.owl-carousel .owl-item.active{
	opacity:1;
}
/*-- //testimonials --*/

.li {
    text-align: center;
}
.li h6 ,.li a{
    display: inline-block;
    font-size: 1.2em;
    padding:1em 0 1em 1em;
    color: #fff;
}

button.btn1:hover {
    background:#2954a2;
}
button.btn1:hover i.fa.fa-paper-plane-o{
    color: #2f2f2f !important;
}
/*-- footer --*/

.agileinfo-icons ul li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.5em;
    float: right;
}
.agileinfo-icons ul li a {
    color: #fff;
}
.agileinfo-copyright p,.agileinfo-copyright a{
	 color: #fff;
}
.agileinfo-copyright a:hover,.agileinfo-icons ul li a:hover{
	color:#EA548E;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 79px;
    right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 35px;
	height: 35px;
	border: none;
	text-indent: 100%;
	background: url(../images/top-arrow.png) no-repeat 0px 0px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
#toTopHover {
	width: 35px;
	height: 35px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/* -- Responsive code -- */

@media screen and (max-width: 1366px){
	.baner-info {
		padding-top: 7em;
	}
}
@media screen and (max-width: 1280px){
	.banner-bottom-girds {
        top: -14%;
	}
}
@media screen and (max-width: 1080px){
	.navbar-default .navbar-nav > li > a {
		padding: 1em 0.5em 1.2em;
	}
	.banner-bottom-girds {
		width: 64%;
		left: 18%;
	}
	.baner-info {
		padding-top: 6em;
	}
	.w3ls-about-left {
		padding: 0 4em 0 0;
	}
}
@media screen and (max-width: 1050px){
	.agileits-banner-grid {
       padding:2em 1em;
	}
	div#about {
		padding-top: 16em;
	}
}
@media screen and (max-width: 1024px){
	.inner-header-agile {
		padding: 0 4em;
	}
	.banner-bottom-girds {
		top: -10%;
	}
	div#about {
		padding-top: 19em;
	}
}
@media screen and (max-width: 991px){
	.inner-header-agile {
		padding: 0 3em;
	}
	.baner-info h3 {
		font-size: 3.3em;
	}
	.banner-bottom-girds {
		top: -5%;
		width: 68%;
		left: 16%;
	}
	.wthree-about-left {
		padding-top: 6em;
	}
	.wthree-about-right {
		top: 19px;
		left: 39%;
	}
	.w3ls-about-left{
		padding:0;
	}
	.w3_agileits_testimonials_grid p {
        width: 100%;
	}
	.li {
		width: 33.33%;
		float: left;
	}
}
@media screen and (max-width: 900px){
	.inner-header-agile {
		padding: 0 1em;
	}
	.navbar-header h1 {
		font-size: 1.7em;
	}
	.banner-bottom-girds {
		top: -6%;
		width: 73%;
		left: 13%;
	}
	span.letter {
		line-height: 1.3em;
	}
}
@media screen and (max-width: 800px){
	.navbar-default .navbar-nav > li > a {
		padding: 1em 0.8em 1em;
	}
	.navbar-header {
		float: none;
		text-align: center;
	}
	span.letter {
		line-height: 1.1em;
	     padding: 2px 13px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 1em 0.8em 1.2em;
	}
	.navbar-nav > li {
		margin: 0 0.4em;
	}
	ul.nav.navbar-nav {
		float: none;
		padding: 0 2em;
	}
	.navbar-header h1 {
		margin: 0.5em 0;
	}
	.baner-info {
		padding-top: 0em;
	}
	.baner-info h3 {
		font-size: 3em;
	}
	.banner-bottom-girds {
       width: 79%;
       left: 11%;
	}
}
@media screen and (max-width: 768px){
	ul.nav.navbar-nav {
       padding: 0 1em;
	}
	.agileits-banner-grid p {
		margin: 1em auto 2em;
		width: 91%;
	}
	.baner-info {
		padding-top: 1em;
	}
	div#about .container {
		width: 90%;
	}
	.agileinfo-copyright,.agileinfo-icons {
		text-align: center;
		width: 100%;
		float: none;
	}
	.agileinfo-icons ul li{
		float:none;
	}
	.agileinfo-icons ul li {
		margin: 0.1em 0.5em;
	}
	p.about-bottom {
		margin: 0.6em 0;
	}
	.agileinfo-copyright{
		margin-bottom: 0.5em;
	}
}
@media screen and (max-width: 767px){
	#about h5 {
		margin: 1em 0 1em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background-color:rgba(41, 84, 162, 0.86);
		z-index: 999;
	}
	.navbar-header h1 {
		float: left;
	}
	.navbar-toggle {
		float: right;
		padding: 9px 10px;
		margin: 0.7em 0;
		background-color: #2954a2;
	}
	.navbar-default .navbar-nav > li > a {
		width: 23%;
		margin: 0.5em auto 0;
		text-align: center;
	}
	.navbar-collapse {
		padding: 15px !important;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #2954a2;
	}
	.navbar-default .navbar-toggle {
		border:none;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #EA548E;
	}
	.baner-info {
		padding-top: 2em;
	}
	.banner-bottom-girds {
		width: 82%;
		left: 9%;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 0.5em 0;
	}
}
@media screen and (max-width: 736px){
	.baner-info h3 {
		font-size: 2.8em;
	}
	.banner-bottom-girds {
		width: 84%;
		left: 8%;
	}
	.wthree-about-left img {
		width: 50%;
	}
	h3.w3ls-title, h2.w3ls-title {
       font-size: 2.4em;
	}
}
@media screen and (max-width: 667px){
	.baner-info h3 {
		font-size: 2.6em;
	}
	.w3ls-section {
		padding: 3.5em 0;
	}
	.w3_agilits_inner_bottom {
		padding: 0 2em;
	}
	.stats-info p {
		font-size: 1.3em;
	}
	.li {
		padding-right: 0;
	}
	.wthree-testi_grid h5 {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 640px){
	div#about {
		padding-top: 17em;
	}
	.baner-info h3 {
       letter-spacing: 3px;
	}
	.banner-bottom-girds {
		top: -7%;
	}
	.baner-info h4 {
		letter-spacing: 3px;
	}
	.agileits-banner-grid p {
		margin: 1em auto 2em;
		width: 92%;
	}
	.baner-info {
		padding-top: 2.2em;
	}
	.banner-bottom-girds {
		width: 86%;
		left: 7%;
	}
	h3.w3ls-title, h2.w3ls-title {
		font-size: 2.2em;
	}
	.li {
		padding-left: 0.5em;
	}
	.wthree-testi_grid p {
		width: 81%;
	}
}
@media screen and (max-width: 600px){
	.baner-info h3 {
		font-size: 2.6em;
	}
	.navbar-default .navbar-nav > li > a {
		width: 27%;
	}
	.agileits-banner-grid p {
		width: 100%;
	}
	.stats-info p {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 568px){
	.w3ls-section {
		padding: 3em 0;
	}
	.baner-info h4 {
		letter-spacing: 2px;
	}
	.banner-bottom-girds {
		width: 95%;
		left: 2.5%;
	}
	.baner-info {
		padding-top: 1em;
	}
	#about h5 {
        font-size: 1.1em;
	}
}
@media screen and (max-width: 480px){
	.baner-info {
		padding-top:2em;
	}
	.baner-info h3 {
		font-size: 2.3em;
		letter-spacing: 2px;
	}
	.agileits-banner-grid {
		float: none;
		width: 70%;
		margin: 0 auto;
		padding: 2em 1em;
	}
	.banner-bottom-girds {
		border:none;
	}
	.baner-info p {
		margin: 0.5em 0 1em;
		color: #fff;
	}
	a.w3_play_icon1 {
		padding: 0.5em 1em;
		letter-spacing:0px;
	}
	.banner-bottom-girds {
		top: -4%;
	}
	.navbar-default .navbar-nav > li > a {
		width: 38%;
	}
	#about h5 {
		font-size: 1em;
		letter-spacing:0px;
	}
	div#about {
		padding-top: 38em;
	}
	h3.w3ls-title, h2.w3ls-title {
		font-size: 2em;
	}
	.stats-info p {
		font-size: 1em;
	}
}
@media screen and (max-width: 414px){
	.baner-info h3 {
		font-size: 2.1em;
		letter-spacing: 0px;
	}
	.baner-info h4 {
		font-size: 0.9em;
	}
	.agileits-banner-grid {
		width: 80%;
	}
	.navbar-default .navbar-nav > li > a {
		width: 43%;
	}
	#about h5 {
		line-height: 1.5;
	}
	input[type="text"] {
		padding-left: 1em;
	}
	.owl-carousel .owl-item img {
		visibility: visible;
	}
}
@media screen and (max-width: 384px){
	div#about {
		padding-top: 35em;
	}
	.agileits-banner-grid {
		width: 86%;
	}
	.navbar-default .navbar-nav > li > a {
		width: 47%;
	}
	.baner-info h4 {
		letter-spacing: 1px;
	}
	.baner-info h3 {
		font-size: 2em;
	}
	.baner-info p {
		font-size: 0.9em;
	}
	.banner-bottom-girds {
		top: -6%;
	}
	h2.w3ls-title {
		margin-top: 1em;
	}

}
@media screen and (max-width: 375px){
	span.letter {
		line-height: 1em;
		padding: 3px 11px;
	}
}
@media screen and (max-width: 320px){
	.navbar-default .navbar-nav > li > a {
		width: 60%;
	}
	.banner-bottom-girds {
		top: -3%;
	}
	.baner-info h3 {
		font-size: 1.7em;
	}
	.baner-info h4 {
		letter-spacing: 0px;
		font-size: 0.875em;
	}
	.banner-bottom-girds {
		top: -4%;
	}
}
.footer {
	margin: 0;
    padding: 0;
    border: 0;
}

.about_img {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.about-poleft img {
    width: 100%;
    height: auto;
}

.about_img h5 {
    position: absolute;
    line-height: 2.4;
    bottom: 0%;
    height: 70px;
    left: 0;
    opacity: 1;
    width: 100%;
    color: #000;
    background: #fff;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
    text-align: center;
    font-size: 2em;
}
.about_opa {
    color: #fff;
    padding: 50px 50px 0;
    opacity: 0;
    background: rgba(51, 51, 51, 0.8);
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
}
.about_opa p {
    line-height: 2.2em;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 30px;
    color: #e4e0e0;
}
.fb_icons2 li {
    list-style-type: none;
    display: inline-block;
    margin: 0 2px;
    overflow: hidden;
}
.fb_icons2 li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #ffb71c;
    line-height: 2;
    color: #fff;
}
.about_img:hover h5 {
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #ffb71c;
    color: #fff;
}
.about_img:hover .about_opa {
    opacity: 1;
    top: 70px;
}
.fb_icons2 li a:hover {
    transform: rotateZ(360deg);
    border-radius: 100%;
}
.owl-carousel .owl-item.active {
    padding: 1em;
    background: #fff;
}
.owl-item.active .about_img h5 {
    top: 0;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #2a54a2;
    color: #fff;
}
.owl-item.active .about_img .about_opa {
    opacity: 1;
    top: 70px;
}

.owl-item.active .fb_icons2 li a {
    transform: rotateZ(360deg);
    border-radius: 100%;
}
.owl-item.active .about_img h5 a, .owl-item.active .about_img h5 a:hover {
    color:#fff;
}

.owl-item.active .fb_icons2 li a:hover {
    transform: rotateZ(360deg);
    border-radius: 0;
}

/*-- Gallery Section --*/

.gallery-grid {
	padding: 0;
}
.gallery1 {
	position:relative;
}
.gallery1 .textbox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	background-color: rgba(15, 36, 83, 0.62);
}
.gallery1:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gallery-grid img{
	width:100%;
}

.textbox {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	text-align:center;
}
.textbox h4 {
	font-size: 2em;
	color: #FFF;
	margin-top: 3.5em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
}
.textbox p {
	font-size: 26px !important;
	color: #fff;
	margin: 6px 0 0 0!important;
	padding: 3px 0;
}
.gallery-grids {
	margin-top: 50px;
}

.padding-inner-page {
    padding: 5em 0em;
}
.padding-inner-page-top {
    padding-bottom: 4em;
}
.padding-inner-page-top h2 {
    font-size: 3em;
    color: #EA548E;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
span.heading-line {
    background: #807D7D;
    width: 60px;
    height: 1px;
    display: block;
    margin: 0.7em auto 0.7em;
}
.breadcrumb{
	background-color: #2a54a200;
}
.breadcrumb li a{
	color: #2a54a2;
}
.breadcrumb > .active {
    color: #EA548E;
}
.alert a.close{
	margin:inherit;
}
.navbar-nav > li > .dropdown-menu {
	padding: 0px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #EA548E;
}
.dropdown-menu > li > a {
	font-size: 0.9em;
    padding: 1em 0.9em;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.navbar-default .navbar-nav .dropdown-menu>li>a.active {
    color: #fff;
    background-color: #EA548E !important;
}
.breadcrumb > li + li:before {
	content: "\e127";
	font-family: 'Glyphicons Halflings';
	color: #ea548e;
}
.breadcrumb > li + li.active:before {
	color: #2a54a2;
}

/* map */
.map-color ul li{
	list-style-type:none;
	color:#464646;
	font-size: 17px;
	margin: 30px 0;
	font-weight:600;
	}
.map iframe{
	width:100%;
}

.footer-right{
	min-height:515px;
}
.map-color ul li span {
  left: 0;
  margin-right: 20px;
}
.map-color{
  	padding: 90px 0 0 232px;
	background: rgba(239, 246, 247, 0.71);
	position: absolute;
	top: 0%;
	left: 0;
    height: 100%;
	width: 100%;
}
.map-color li a{
	color:#343838;
	}
.map-color li a:hover{
	text-decoration:none;
	color:#7D37CE;

}
@media(max-width:1440px){
	.map-color {
	  padding: 90px 0 0 140px;
	}
	.footer-right {
	  padding: 90px 140px 0 50px;
	}
}
@media(max-width:1366px){
	.map-color {
	  padding: 90px 0 0 110px;
	}
	.footer-right {
	  padding: 90px 110px 0 50px;
	}
}
@media(max-width:1280px){
	.map-color {
	  padding: 90px 0 0 60px;
	}
	.footer-right {
	  padding: 90px 60px 0 50px;
	}
}
@media(max-width:1024px){
	.map-color {
	  padding: 70px 0 0 38px;
	}
	.footer-right {
	  padding: 70px 38px 0 40px;
	}
}
.map-color ul li {
	font-size: 14px;
}
.footer-right {
	padding: 65px 126px 0 20px;
}
@media(max-width:800px){
	.map-color {
	  padding: 65px 0 0 34px;
	}
	.map iframe {
	  min-height: 455px;
	}
}
@media(max-width:768px){
	.map-color ul li span {
	  font-size: 18px;
	}
	.map-color {
	  padding: 65px 0 0 20px;
	}
}
.map-color ul li span {
	margin-right: 10px;
}

.map-color ul li.mobile {
	margin: 24px 0;
}
.footer-left ul.fb-icons {
	margin-top: 25px;
}
.map iframe {
	min-height: 343px;
}


.footer-left ul.fb-icons li{
list-style-type:none;
margin-left:5px;
display:inline-block;
}
.footer-left ul.fb-icons li a{
width:52px;
height:52px;
display:block;
}
.footer-left ul li a.f1{
	background: url(../images/img-sprite-hover.png) no-repeat 0px 0px;
}
.footer-left ul li a.f1:hover{
	background: url(../images/img-sprite-hover.png) no-repeat -72px 0px;
}
.footer-left ul li a.f2{
	background: url(../images/img-sprite-hover.png) no-repeat 0px -61px;
}
.footer-left ul li a.f2:hover{
	background: url(../images/img-sprite-hover.png) no-repeat -72px -61px;
}
.footer-left ul li a.f3{
	background: url(../images/img-sprite-hover.png) no-repeat 0px -122px;
}
.footer-left ul li a.f3:hover{
	background: url(../images/img-sprite-hover.png) no-repeat -72px -122px;
}
.footer-left ul li a.f4{
	background: url(../images/img-sprite-hover.png) no-repeat 0px -187px;
}
.footer-left ul li a.f4:hover{
	background: url(../images/img-sprite-hover.png) no-repeat -72px -187px;
}

.footer-left{
	float:left;
	width:55%;
	position: relative;
	}

@media(max-width:1080px){
	.footer-left ul.fb-icons {
		margin-top: 40px;
	  }
}
.footer-left {
	float: left;
	width: 100%;
}
h3.tittle {
    margin-bottom: 50px;
    color: #7d37ce;
    font-size: 36px;
    font-family: 'NotoSans-Regular';
    text-align: center;
}
h3.tittle.t-three {
    text-align: left;
}
.footer {
	padding: 1.3em 0 1em;
	background: #2954a2;
	display: flow-root;
}
.lastupdated {
	color: #fff;
}
@media (max-width:767px){
	.footer {
		text-align: center;
	}
}
@media (max-width:800px){
	.padding-inner-page {
		padding-top: 9em;
	}
}
@media (max-width:768px){
	.padding-inner-page {
		padding-top: 5em;
	}
}
table {

    color: #fff;
}

table thead {
	background: #2a54a2;
}
table tr th, table tr td{
	text-align: center;
}

.table-striped > tbody > tr:nth-of-type(2n) {
  color: #2a54a2;
  background: #ea548e85;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  color: #2a54a2;
}
.table-hover > tbody > tr:hover {
  background-color: lightgreen;
}
